@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    background-image: url(../imagens/image0_0_watermark.5jpg.jpg);
    background-position: center;
}
div#formulario > h1{
    margin-top: 10px;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
section#login{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    transition: width .5s, height .5s;
    transition-timing-function: ease;
}
section#login{
    text-align: center;
    color: white;
}
section#login > div#imagem{
    background-image: url(../imagens/image1_0_watermark\ \(1\)_cleanup.jpg);
    display: block;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}
form > input[type=submit]{
   display: block;
   font-size: 1em;
   width: 80%;
   background-color: rgb(0, 75, 0);
   border: none;
   color: white;
   height: 40px;
   border-radius: 5px;
   margin-left: 30px;
   margin-top: 5px;
}
form > input[type=submit]:hover{
    background-color: rgb(34, 209, 34);
}
form > a.botao{
    display: block;
    font-size: 1em;
    width: 80%;
    background-color: rgb(137, 241, 137);
    border: none;
    color: white;
    height: 40px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 5px;
    text-decoration: none;
}
form > a.botao:hover{
    background-color: rgb(159, 250, 159);
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p{
    font-size: 0.8em;
}
form > div.campo{
    background-color: #5f2c82;
    display: block;
    width: 80%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    margin-left: 30px;
}
div.campo > label{
    display: none;
}
div.campo > i{
    color: white;
    font-size: 2em;
    width: 100px;
    padding: 5px;
    
}
div.campo > input{
    background-color: #92d3d1;
    border: 0px;
    font-size: 1em;
    height: 100%;
    width: calc(100%);
    transform: translateY(-42px);
    border-radius: 8px;
    padding: 4px;
}